@font-face {
  font-family: "Akt";
  src: url("@/shared/assets/fonts/Akt-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akt";
  src: url("@/shared/assets/fonts/Akt-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akt";
  src: url("@/shared/assets/fonts/Akt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akt";
  src: url("@/shared/assets/fonts/Akt-Normal.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akt";
  src: url("@/shared/assets/fonts/Akt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akt";
  src: url("@/shared/assets/fonts/Akt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akt";
  src: url("@/shared/assets/fonts/Akt-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akt";
  src: url("@/shared/assets/fonts/Akt-Solid.woff2") format("woff2");
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}
