.container {
  gap: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media-up($breakpoint-laptop) {
    padding: 0 16px;
  }

  .inputWrapper {
    gap: 33px;
    display: inherit;
    flex-direction: inherit;
  }

  .button {
    width: 100%;
    margin: 0 auto;
    max-width: 318px;
  }
}
