.wrapper {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: 100%;

  .label {
    margin-bottom: 33px;
    color: var(--text-color);
  }

  .input {
    width: 100;
    outline: none;
    border-radius: 22px;
    padding: 30.5px 35px;
    color: var(--text-color);
    border: solid 1px var(--border-color);
    background-color: transparent;
    transition: all 0.2s ease;

    &.hasError {
      border-color: var(--error-color);
      background-color: var(--error-color-background);
    }

    &:disabled {
      opacity: 0.5;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .errorMessage {
    margin-top: 8px;
    min-height: 1.2em;
    font-weight: 500;
    padding-left: 8px;

    color: var(--error-color);
  }
}
