.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  max-width: 811px;
  margin: 0 auto;
  gap: 92px;

  .title {
    padding: 0 16px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 64px;
    font-weight: 700;
  }
}
