.container {
  @include flex-center;

  gap: 12px;
  height: 100vh;
  line-height: 0.7;
  user-select: none;
  flex-direction: column;

  .numberError {
    font-size: 240px;
  }

  .textError {
    text-align: center;
    font-size: 60px;
  }
}
